acordeweb/node_modules/grunt-browserify/node_modules/.bin/browserify
acordeweb/node_modules/grunt-browserify/node_modules/.bin/browserify
node_modules
/acordeweb/bower_components
/acordeweb/build
/acordeweb/src/css/acorde.css
/~$bitacora_desarrollo.pptx
